<html>
<head>
	<% include ./partials/head %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
  	<header>
  		<% include ./partials/header %>
  	</header>
	  <table class='table col m8 s12'>
       <thead>
         <th>About this School</th>
       </thead>
       <tbody>
           <tr>
             <td><p>The Massachusetts Academy closes permanently in Generation X. Shortly thereafter, the school for young mutants is reopened at the X-Mansion, but the name remains "The Xavier Institute for Higher Learning" despite the younger student body. The fourth generation of mutant teenagers, featured in Grant Morrison's New X-Men (2001–2004) and in New Mutants (2003–2004; relaunched as New X-Men: Academy X, study at the mansion until it is destroyed during the 2007–2008 story "Messiah Complex" and the X-Men subsequently disband and close the Institute.</p></td>
       </tbody>
     </table>
   </body>
</html>